.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.spam {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    position: fixed;
    z-index: 999;
    left: 500px;

}

/* .spamText {
    font-size: 60px;
    background-color: ;
}  */

/* @keyframes colorChange {
    0%   {background-color: red;}
    25%  {background-color: blue;}
    50%  {background-color: green;}
    75%  {background-color: yellow;}
    100% {background-color: red;}
  }
  
  .spamText {
    width: 500px;
    height: 200px;
    animation: colorChange 1s infinite;
  } */